.App {
  height: 100%;

  padding: 32px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.chessboard {
  flex: 0 1 auto;
  width: auto;
  min-width: 0;
  aspect-ratio: 1 / 1;

  font-weight: bold;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}